/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* daqui apra baixo e meu codigo*/
body{
    background-color: black;
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    transition: 2s;
}

a{
    text-decoration: none;

}
header{
    height: 50px;
    background-color:darkgreen;
    color:azure;
    text-align: center;
    padding: 15px;
    transition: 3s;
}
nav{
    padding: 15px;
    background-color: lightgreen;
    text-align: center;
    transition: 3s;
} 
.navlista > li{
    display: inline;
    margin-left: 10px;
    color: black;
    transition: ease 0.2s;
}
.navlista {
    color: black;
}
.navlista:hover{
    color: greenyellow;
    transition: color linear;

}
.sobre{
    padding: 15px;
    background-color: rgb(70, 230, 70);
    color: black;
    transition: 3s;
    margin-bottom: 10px;
}
.conteudo{
    padding: 15px;
    background-color: rgb(125, 235, 125);
    color: black;
    transition: 3s;
    margin-bottom: 10px;
}
.flex-container{
    display: flex;
}
.gap{
    gap: 15px;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

aside{
    background-color: green;
    padding: 30px;
    margin: -20px;
    border-radius: 30px;
    transition: 3s;
}
.space-between{
    justify-content: space-between;
}
.grow{
    flex-grow: 2;
}
.margintop{
    margin-top: 20px;
}
.margin-bottom{
    margin-bottom: 5px;
}
.form{
    margin: 20px;
}
form{
    background-color: mediumspringgreen ;
    padding: 20px;
    transition: 3s;
    color: black;
    border-radius: 30px;
}
footer {
    background-color: darkgreen;
    width: 100%;
    min-height: 20px 0 20px 0 ;
    padding: 15px;
    color: aliceblue;
    height: 40px;
    transition: 3s;
}

footer li a{
    color: aliceblue;
    padding: 20px;
}

footer p{
    text-align: center;
}
footer p a {
    color: greenyellow;
}
