body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    padding: 10px;
    text-align: center;
}

h1, h2 {
    color: azure;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    background-color: coral;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgb(255, 0, 0);
}
form input{
    padding: 8px;
    margin-right: 10px;
    background-color: dimgray;
    color: black;
}
button{
    padding: 8px 12px;
    background-color: crimson;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out;
}
button:hover{
    background-image: radial-gradient(circle,gold, crimson);
}