body{
    background-color: black;
    color: azure;

}
#modalExemplo{
    color: blueviolet;
}
.form-control{
    background-color: rgb(48, 48, 48);
}
.input-group-text{
    background-color: rgb(39, 39, 39);
    color: azure;
}